html, body {
	background-color: #333;
	color: silver;
	a, th, td {
		color: silver;
	}
	margin: .25em;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	color: #888;
}

table.table {
	background-color: #333;
	thead th, td {
		color: silver;
	}
	td, th {
		padding: 0;
	}
}

hr {
	color: #888;
}

.menu-list a {
	color: #888;
}


.tooltip {
	width: 75%;
	z-index: 1000;
}
dl {
	width: 100%;
}
dt {
	float: left;
	width: 35%;
	margin: 0;
	text-align: right;
	font-weight: 800;
	padding: 0 1em 0 0;

	&:after {
		content: ": ";
	}
}
dd {
	text-align: left;
}

figure.picWithCount {
	position: relative;
	margin: 0 3px;

	img {
		width: 100%;
		object-fit: cover;
	}

	.count {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

&.active {
	background: silver;
}

//https://codepen.io/martinkrulltott/pen/xwrXwR
.video-thumbnail {
	position: relative;
	display: inline-block;
	cursor: pointer;
	object-fit: cover;

	&:before {
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		content: "\f01d";
		font-family: FontAwesome;
		font-size: 100px;
		color: #fff;
		opacity: .3;
		text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	}
	&:hover:before {
		color: #eee;
	}

}

table.htmlFormTable {
	width: 100%;
	tbody {
		width: 100%;
	}
}

.m-3 {
	margin: 0.5em;
}
.mb-3 {
	margin-bottom: 0.5em;
}

@media screen and (min-width: 769px), print {
	.column.is-one-sixth, .column.is-one-sixth-tablet {
		flex: none;
		width: 100% / 6;
	}
}
