.tooltip {
	width: 75%;
	z-index: 1000;
}
dl {
	width: 100%;
}
dt {
	float: left;
	width: 35%;
	margin: 0;
	text-align: right;
	font-weight: 800;
	padding: 0 1em 0 0;

	&:after {
		content: ": ";
	}
}
dd {
	text-align: left;
}
