.tooltip {
  width: 75%;
}
dl {
  width: 100%;
}
dt {
  float: left;
  width: 35%;
  margin: 0;
  text-align: right;
  font-weight: 800;
  padding: 0 1em 0 0;
}
dt:after {
  content: ": ";
}
dd {
  text-align: left;
}
